.CharacterClassListCard {
    display: flex;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.CharacterClassListCard .Chip{
    cursor: pointer;
}

.MinReqItem {
    opacity: .7;
    font-weight: 400;
}